@{
    ViewData["Title"] = "About the Party";
}
<h1 color: #000000>@ViewData["Title"] </h1>
<style>
    body {
        background-color: #F76900;
    }
</style> 
<p> You're Invited to a Pumpkin Carving Party </p>
<p> Saturday, October 24 from 1 - 4PM</p>
<p> 1313 Jack Lantern Drive, Spookytown</p>
<p> B.Y.O.P. (Bring Your Own Pumpkin)</p>
<p> RSVP here by Oct. 17</p>
<p> Join Us for a Halloween Pumpkin Carving Party. We've got everything you need</p>
<p> All you got to bring is your pumpkin, we'll have food, drinks and trick-or-treats!</p>
<p> Pumpkins beware!</p>