@{
    ViewData["Title"] = "Gallery";
}
<h1>@ViewData["Title"]</h1>
<img src ="https://www.digsdigs.com/photos/2009/10/100-halloween-pumpkin-carving-ideas-12.jpg"  alt = "UCF" height = "113" width = "150" />
<p>  Pumpkin Carvings </p>
<p> The origins of pumpkin carving and decoration goes far back to ancient cultures of the world. Celtic cultures were the first to introduce carving to the scene, which later became a staple of Irish culture. ... The carved produce served as a deterrent to keep Jack away, while lighting the way for good spirits.</p>

<img src ="https://img.buzzfeed.com/store-an-image-prod-us-east-1/R7Q1rav8k.png?output-format=auto&output-quality=100&resize=640:*"  alt = "UCF" height = "113" width = "150" />
<p>  Halloween </p>
<p> The tradition originated with the ancient Celtic festival of Samhain, when people would light bonfires and wear costumes to ward off ghosts. ... Over time, Halloween evolved into a day of activities like trick-or-treating, carving jack-o-lanterns, festive gatherings, donning costumes and eating treats.</p>

<img src ="https://png.pngitem.com/pimgs/s/154-1543865_ucf-logo-hd-png-download.png"  alt = "UCF" height = "113" width = "150" />
<p>  UCF </p>
<p> The UCF Knights are the athletic teams that represent the University of Central Florida in Orlando,
Florida. The Knights participate in the National Collegiate Athletic Association's Division I as a
member of the American Athletic Conference</p>

<img src ="https://www.staplescenter.com/assets/img/team_lakers_thumb-2e7f155011.jpg"  alt = "UCF" height = "113" width = "150" />
<p>  Los Angelos Lakers </p>
<p> The Los Angeles Lakers are an American professional basketball team based in Los Angeles. The Lakers compete in the National Basketball Association (NBA) as a member of the league's Western Conference Pacific Division.
</p>